<?xml version="1.0" encoding="utf-8"?>
<!--
  Weitere Informationen zum Konfigurieren der ASP.NET-Anwendung finden Sie unter
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<!-- Semicolon separated list of white listed internal dns host names. Use * for all host names -->
		<add key="DnsHostWhiteList" value="pc1.yourdomain;pc2.yourdomain;nas1.yourdomain" />
		<!-- Enables logging (true or false). If true, it will by default write log text files to ~/Logs/. Consider to change the path for security reasons in WriteLog() -->
		<add key="EnableLogging" value="true"/>
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
    </compilers>
  </system.codedom>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="all">
					<match url=".*" />
					<action type="Rewrite"
						url="response.aspx" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>